.postmodal {
    max-height: 100%;
    max-width: 100%;
}

.questionmodal {
    max-height: 100%;
    max-width: 100%;
}

.postimg {
    max-width: 100%;
    max-height: 100%;
}

.questimg {
    max-width: 100%;
    max-height: 100%;
}

.posttext {
    position: absolute;
    right: 67%;
    top: 35%;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.questext b,
.posttext b {
    color: black;
}

.questext a,
.posttext a {
    text-decoration: none;
}

.questext {
    position: absolute;
    right: 12%;
    top: 35%;
    font-size: 30px;
    color: black;
}
