.content {
    margin-top: 4.4em;
}
.leftpane {
    position: sticky;
    top: 4.4em;
    height: calc(100vh - 4.4em);
    z-index: 1;
    background-color: rgb(253, 253, 253);
}

.middlepane {
    z-index: 0;
    background-color: #edf5e1;
}

.rightpane {
    position: sticky;
    top: 4.4em;
    height: calc(100vh - 4.4em);
    z-index: 1;
    background-color: rgb(253, 253, 253);
}

.footer {
    padding: 0;
    z-index: 1;
}

.results {
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
}
